.header {
  width: 100%; /* Full width of the screen */
  padding: 8px 80px 8px 80px;
  height: 56px; /* Fixed height */
  padding: 8px var(--margin, 80px); /* Padding as specified */
  border-bottom: 2px solid #f4f4f4;
  display: flex;
  align-items: center;
  box-sizing: border-box; /* Include padding in width/height */
}

.alphaDisclaimerBackground {
    padding-left: 2%;
    min-width: 265px;
    background: var(--background-fill-support-info-emphasis, #013366);
    display: flex;
    color: ivory;
    line-height: 1em;
    padding: 4px 16px 4px 16px;
/*    width: 100%;*/
    align-items: center;
    font-weight: 400;
}
.alphaDisclaimer {
    margin-left: 10%;
    margin-right: 10%;
    display: inline-flex;
}

.alphaInfoIcon {
    margin-top: 10px;
    padding-right: 10px;
    align-self: start;
}
.disclaimerText {
    font-weight: 100;
}
.alphaDisclaimerDismiss {
    float: right;
    color: ivory;
    margin-left: 10%;
    margin-top: 20px;
}
.alphaFeedbackButton {
    font-family: var(--Font-family-Base, "BC Sans");
    font-size: var(--Font-size-300, 14px) !important;
    font-style: normal;
    font-weight: 400 !important;
    line-height: var(--Line-height-300, 20px) !important; /* 142.857% */
    width: max-content;

}
.alphaInfoContent {
    max-width: 1224px;
}
.alphaReportLink {
    color: ivory;
    border-bottom: solid;
}