/*Rename this file to ".env" and fill out the details from the SSO Keycloak configuration at https://bcgov.github.io/sso-requests/my-dashboard  gcpe-MediaHub */

VITE_SSO_REDIRECT_URI=
VITE_SSO_AUTH_SERVER_URL=
VITE_SSO_REALM=standard
VITE_SSO_CLIENT_ID=gcpe-media-hub-6011
VITE_MRM_API=0
