name: Client Build

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 16

      - name: Install dependencies
        run: npm install
        working-directory: gcpe-MediaHub/gcpe-mediahub.client

      - name: Build client
        run: npm run build
        working-directory: gcpe-MediaHub/gcpe-mediahub.client